*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  color: #151515;
}

.section-title {
  font-size: 3rem;
  text-align: center;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  color: white;
  background-color: #151515;
}
.header__inner {
  padding-top: 40px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header-main {
  background-color: transparent;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
}

.menu__button {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.menu__button span {
  height: 2px;
  background-color: #fff;
  width: 100%;
}
.menu__list {
  display: flex;
  gap: 35px;
  font-weight: 600;
  font-size: 1rem;
}

.footer {
  background-color: #151515;
  color: white;
}
.footer__inner {
  padding: 50px 0 32px 0;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__menu-list {
  max-width: 225px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__menu-title {
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom: 20px;
}
.footer__menu-item {
  font-weight: 200;
  font-size: 1rem;
}
.footer__copy {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}
.footer__copy-text {
  font-weight: 200;
  font-size: 0.875rem;
}

.menu__list-link--active {
  color: #0066FF;
}

.app {
  display: flex;
  justify-content: center;
  gap: 39px;
  padding: 50px 0;
}

.copy__nav-list {
  display: flex;
  gap: 40px;
  font-size: 1em;
  font-weight: 300;
  justify-content: center;
  padding-top: 30px;
}

.top {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 250px;
}
.top__link {
  background-color: #151515;
  padding: 23px;
  font-weight: 700;
  font-size: 36px;
  display: inline-block;
  max-width: 430px;
  width: 100%;
  text-transform: uppercase;
}

.title {
  padding-bottom: 40px;
  font-size: 96px;
  font-weight: 700;
}

.main {
  flex-grow: 1;
}

.swiper-slide {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background-color: #151515;
  border-radius: 0;
  opacity: 1;
  margin: 0 15px !important;
}

.swiper-pagination-bullet-active {
  width: 120px;
  height: 6px;
  background-color: #fff;
  border-radius: 0;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 50px;
}

.why-lease {
  padding: 150px 0;
  text-align: center;
}

.why-lease__list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
}
.why-lease__item-title {
  margin: 30px 0;
  font-size: 1.5em;
  font-weight: 700;
}
.why-lease__item-text {
  font-weight: 400;
  text-align: left;
}

.about {
  padding-bottom: 100px;
}
.about__inner {
  max-width: 600px;
  margin: 0 auto;
}
.about__list {
  padding-bottom: 20px;
  counter-reset: myCounter;
}
.about__list-item {
  width: 270px;
  position: relative;
  margin-left: auto;
  box-sizing: content-box;
  padding: 19px 0 19px 240px;
  min-height: 63px;
}
.about__list-item::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  display: inline-block;
  position: absolute;
  background-color: #0066FF;
  font-size: 3rem;
  color: #fff;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 700;
  left: 0;
  top: 10px;
}
.about__text {
  margin: 50px 0;
}
.about__subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 50px;
}

.about__list-item + .about__list-item {
  margin-top: 40px;
}

.video {
  padding-bottom: 150px;
}
.video .section-title {
  padding-bottom: 20px;
}
.video__subtitle {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  padding-bottom: 50px;
}
.video__content {
  display: block;
  margin: 0 auto;
}

.important {
  padding-bottom: 150px;
}
.important__text {
  text-align: left;
  max-width: 580px;
  display: block;
  margin: 0 auto;
  padding: 20px 0 50px;
}
.important__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.important__list-text {
  max-width: 100%;
}

.contacts {
  padding: 100px 0 150px;
}
.contacts__text {
  padding: 20px 100px 50px 100px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.form {
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form__textarea {
  width: 100%;
  resize: none;
  padding: 28px 20px;
  height: 290px;
  border: 1px solid #0066FF;
  margin-bottom: 50px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #151515;
  font-weight: 400;
  line-height: 1.3;
}
.form__textarea:focus {
  outline: none;
}
.form__textarea::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
  color: #151515;
  line-height: 1.3;
}
.form__textarea::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
  color: #151515;
  line-height: 1.3;
}
.form__input {
  width: 270px;
  padding: 18px 20px;
  display: inline-block;
  border: 1px solid #0066FF;
  margin-bottom: 50px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #151515;
  font-weight: 400;
  line-height: 1.3;
}
.form__input:focus {
  outline: none;
}
.form__input::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
  color: #151515;
  line-height: 1.3;
}
.form__input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
  color: #151515;
  line-height: 1.3;
}
.form__button {
  border: none;
  color: #fff;
  background-color: #151515;
  padding: 13px 61px;
  margin: 0 auto;
  text-transform: uppercase;
  line-height: 1.3;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  cursor: pointer;
  font-weight: 300;
}

.blog {
  padding-bottom: 150px;
}
.blog__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 70px;
}
.blog__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}
.blog__item-img {
  width: 100%;
  margin-bottom: 30px;
}
.blog__item-title {
  font-size: 1.5rem;
  font-weight: 700;
  flex-basis: 446px;
}
.blog__item-link {
  color: #fff;
  padding: 4px 20.5px;
  background-color: #0066FF;
  font-weight: 300;
  line-height: 1.5;
}

.showmore__link {
  text-transform: uppercase;
  background-color: #151515;
  font-weight: 300;
  padding: 13px;
  color: #fff;
  width: 225px;
  margin: 0 auto;
  text-align: center;
  display: block;
  line-height: 1.3;
}

.choose {
  padding: 100px 0 150px;
}
.choose .section-title {
  padding-bottom: 50px;
}

.tabs__btn {
  padding: 0 150px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 80px;
}
.tabs__btn-item {
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  padding: 0;
}
.tabs__btn-item--active {
  color: #0066FF;
}
.tabs__content {
  text-align: center;
  margin-bottom: 70px;
}
.tabs__content-item {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px 40px;
  grid-template-rows: auto;
}

.tabs__content-item.tabs__content-item--active {
  display: grid;
}

.card {
  border: 1px solid #0066FF;
}
.card__img {
  margin-bottom: 20px;
  display: block;
  width: 100%;
}
.card__title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 700;
}
.card__text {
  font-weight: 300;
  margin-bottom: 20px;
}
.card__price {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.card__link {
  color: #0066FF;
  font-weight: 300;
  border-top: #0066FF 1px solid;
  width: 100%;
  display: inline-block;
  padding: 2px;
}

@media (max-width: 1180px) {
  .tabs__content-item {
    grid-template-columns: repeat(3, 1fr);
  }
  .title {
    font-size: 82px;
  }
  .important__list {
    gap: 30px 20px;
  }
  .important__list-img {
    width: 100%;
  }
}
@media (max-width: 1040px) {
  .video__content {
    width: 100%;
  }
  .tabs__btn {
    padding: 0 0 50px;
    gap: 20px;
  }
}
@media (max-width: 860px) {
  .header__inner {
    align-items: center;
  }
  .menu__button {
    display: flex;
  }
  .menu__button,
  .logo {
    position: relative;
    z-index: 10;
  }
  .menu__list {
    position: absolute;
    background-color: #151515;
    flex-direction: column;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    height: 100vh;
    padding-top: 130px;
    font-size: 1.5rem;
    gap: 50px;
    transform: translateX(-100%);
  }
  .menu__list.menu__list--active {
    transform: translateX(0%);
  }
  .important__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .why-lease__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .tabs__content-item {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 780px) {
  .title {
    font-size: 70px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 62px;
  }
  .top__link {
    width: 290px;
    font-size: 1.5rem;
  }
  .top__link {
    max-width: 360px;
    font-size: 28px;
    padding: 16px;
  }
  .swiper-pagination-bullet {
    width: 60px;
  }
  .swiper-pagination-bullet-active {
    height: 4px;
  }
  .video__content {
    height: 400px;
  }
  .footer__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
    gap: 40px;
  }
  .footer__menu-title {
    padding-bottom: 10px;
  }
  .footer__menu-list {
    gap: 10px;
  }
  .tabs__btn-item {
    font-size: 20px;
  }
}
@media (max-width: 670px) {
  .footer__copy {
    gap: 10px;
  }
  .section-title {
    font-size: 42px;
  }
  .title {
    font-size: 48px;
  }
  .top__link {
    width: 250px;
    font-size: 1rem;
  }
}
@media (max-width: 650px) {
  .tabs__content-item {
    grid-template-columns: 1fr;
  }
  .tabs__btn-item {
    font-size: 18px;
  }
  .blog__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog__item-title {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .section-title {
    font-size: 38px;
  }
  .contacts__text {
    font-weight: 600;
    font-size: 20px;
  }
  .form__input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 555px) {
  .blog__item-title {
    padding-bottom: 15px;
  }
  .blog__item-link {
    margin-left: auto;
  }
  .tabs__btn {
    flex-direction: column;
  }
  .choose {
    padding: 50px 0;
  }
  .contacts__text {
    padding: 20px 40px 40px;
    font-size: 16px;
  }
}
@media (max-width: 530px) {
  .section-title {
    font-size: 32px;
  }
  .important__list {
    grid-template-columns: 1fr;
  }
  .about__list-item {
    padding-left: 150px;
  }
  .about__list-item::before {
    font-size: 2rem;
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 445px) {
  .title {
    font-size: 42px;
  }
  .top {
    padding-top: 180px;
  }
  .why-lease__list {
    grid-template-columns: 1fr;
  }
  .about__list-item {
    max-width: 200px;
    padding-left: 120px;
  }
  .app {
    flex-direction: column;
    align-items: center;
  }
  .contacts__text {
    padding: 20px 20px 40px;
  }
}
@media (max-width: 400px) {
  .form__button {
    padding: 10px 40px;
  }
  .showmore__link {
    padding: 10px;
    width: 200px;
  }
  .blog__item-title {
    font-size: 16px;
  }
}
@media (max-width: 365px) {
  .section-title {
    font-size: 28px;
  }
  .swiper-pagination-bullet {
    width: 50px;
  }
}
@media (max-width: 350px) {
  .about__list-item {
    padding-left: 75px;
  }
  .about__list-item::before {
    font-size: 1.5rem;
    height: 60px;
    width: 60px;
  }
}/*# sourceMappingURL=style.css.map */